
/* ----------------------------------------------------------------- Pointers */

.g-pointer {
  cursor: pointer;
}

/* ----------------------------------------------------------- Pointer events */

.g-pointer-events-none
{
  pointer-events: none;
}

.g-pointer-events-auto
{
  pointer-events: auto;
}

/* --------------------------------------------------------------------- Hide */

.g-hidden {
  visibility: hidden;
}

/* ---------------------------------------------------------------- No select */

.g-no-select {
  user-select: none;
  -webkit-user-select: none; /* ios safari */
}

input[type=text].g-no-select, textarea.g-no-select
{
  user-select: text !important;
  cursor: text;
}
