
/* ------------------------------------------------------------------ Cursors */

.g-cursor-pointer
{
  cursor: pointer;
}

.g-cursor-default
{
  cursor: default;
}

/* ----------------------------------------------------------- Pointer events */

.g-pointer-events-none
{
  pointer-events: none;
}

.g-pointer-events-auto
{
  pointer-events: auto;
}

/* --------------------------------------------------------------- Visibility */

.g-hidden
{
  visibility: hidden;
}

/* ----------------------------------------------------------------- Overflow */

.g-overflow-hidden
{
  overflow: hidden;
}

/* --------------------------------------------------------------------- Grid */

.g-grid
{
  display: grid;
}

.g-justify-self-center
{
 justify-self: center;
}

.g-justify-content-center
{
/*  background-color: red;*/
 justify-content: center;
}

/* --------------------------------------------------------------- Grid block */

.g-grid-block
{
/*  background-color: blue;*/
  display: grid;
  grid-template-columns: auto;
  justify-content: start;
}

.g-grid-block.x-center
{
/*  background-color: red;*/
 justify-content: center;
}

/* --------------------------------------------------------------------- Text */

.g-text-align-center
{
  text-align: center;
}

/* ---------------------------------------------------------------- No select */

.g-no-select
{
  user-select: none;
  -webkit-user-select: none; /* ios safari */
}

input[type=text].g-no-select, textarea.g-no-select
{
  user-select: text !important;
  cursor: text;
}

/* --------------------------------------------------------------- Animations */

@keyframes fadeIn
{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeInDelayed
{
  0% { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}

/*  @keyframes opacity-fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }
*/

.g-fade-in
{
  animation: fadeIn;
  animation-duration: 250ms;
}

.g-fade-in-delayed
{
  animation: fadeInDelayed;
  animation-duration: 300ms;
}

.g-fade-in.x-duration-short
{
  animation-duration: 100ms;
}

.g-fade-in.x-duration-long
{
  animation-duration: 500ms;
}
