
/* ---------------------------------------------------------- Colors:  Skills */

.theme-skills
{
  /* RGB color values */

  --rgb-skills-white: 255, 255, 255;
  --rgb-skills-black: 0, 0, 0;

  --rgb-skills-green-01: 110,187, 66;
  --rgb-skills-red-01: 253, 71, 61;

  /* Color vars */

  --color-skills-white: rgb( var(--rgb-skills-white) );
  --color-skills-black: rgb( var(--rgb-skills-black) );

  --color-skills-ok-green: rgb( var(--rgb-skills-green-01) );
  --color-skills-wrong-red: rgb( var(--rgb-skills-red-01) );

  /*--color-skills-purple-01: #912d83;*/
  /*--color-skills-purple-01: #ce739b;*/
  --color-skills-purple-01: #ce487a;
  /*--color-skills-purple-01: black;*/

  /* Topic gradients */

  --gradient-skills-light-blue: linear-gradient( to right, #26A9E0, #007DC4 );
  --gradient-skills-purple: linear-gradient( to right, #CE487B, #912D82 );
  --gradient-skills-red: linear-gradient( to right, #F16A39, #BE1E2D );
  --gradient-skills-yellow: linear-gradient( to right, #FAAF40, #F27321 );
  --gradient-skills-green: linear-gradient( to right, #8BC53F, #009345 );
  --gradient-skills-blue: linear-gradient( to right, #2B388F, #262261 );
  --gradient-skills-pink: linear-gradient( to right, #F28298, #EC297B );
}

/* ------------------------------------------------------------- Color values */

.g-color {
  /* Surface colors  */
  --color-surface1: var(--color-skills-white);
  --color-surface2: var(--color-skills-black);

  /* Default colors on surfaces */
  --color-default-on-surface1: var(--color-skills-black);
  --color-default-on-surface2: var(--color-skills-white);

  /* Accent colors */
  --color-active-on-surface1: var(--color-skills-orange-01);
  --color-active-on-surface2: var(--color-skills-orange-01);

  /* Active colors (element is being activated by the user) */
  --color-active-on-surface1: var(--color-skills-orange-01);
  --color-active-on-surface2: var(--color-skills-orange-01);
}

/* -------------------------------------------------------- Background colors */

.g-color.x-bgcolor-surface1
{
  background-color: var(--color-surface1);
}

.g-color.x-bgcolor-surface2
{
  background-color: var(--color-surface2);
}

/* ------------------------------------------------------ default "on" colors */

.g-color.x-default-on-surface1
{
  color: var(--color-default-on-surface1);
}

.g-color.x-default-on-surface2
{
  color: var(--color-default-on-surface2);
}

/* ------------------------------------------------------- default "on" fills */

.g-color.x-default-on-surface1
{
  fill: var(--color-default-on-surface1);
}

.g-color.x-default-on-surface2
{
  fill: var(--color-default-on-surface2);
}

/* ------------------------------------------------------- accent "on" colors */

.g-color.x-accent-on-surface1
{
  color: var(--color-accent-on-surface1);
}

.g-color.x-accent-on-surface2
{
  color: var(--color-active-on-surface2);
}

/* -------------------------------------------------------- active "on" fills */

.g-color.x-active-on-surface1
{
  color: var(--color-active-on-surface1);
}

.g-color.x-active-on-surface2
{
  color: var(--color-active-on-surface2);
}
