
/* ------------------------------------------------------------ Heading texts */

.theme-skills .c-heading-text
{
  --scale: 1;

  font-family: 'Bebas Neue', cursive;
  font-weight: 400;
  font-size: calc( var(--scale) * 2rem );
  /*line-height: 1.4;*/
  line-height: 1;
  letter-spacing: 0rem;

  padding-top: calc( var(--scale) * 0.45rem );
  padding-bottom: calc( var(--scale) * 0.15rem );
  padding-left: calc( var(--scale) * 0.45rem );
  padding-right: calc( var(--scale) * 0.45rem );
}

/*.theme-skills .c-heading-text.x-size-small
{
  font-size: 1.945rem;
}

.theme-skills .c-heading-text.x-size-large
{
  font-size: 2.155rem
}*/

.theme-skills .c-skills-heading-text.x-align-left
{
  text-align: left;
}

.theme-skills .c-heading-text.x-padding-top-100
{
  padding-top: calc( var(--scale) * 1.8rem );
}

/* --------------------------------------------------------------- Body texts */

.theme-skills .c-body-text
{
  font-family: 'Hind', sans-serif;
  /*font-weight: 600;*/
  /*font-weight: 500;*/
  font-weight: 300;
  font-size: 1.15rem;
  line-height: 1.75;
  letter-spacing: 0rem;
  padding: 0.5rem;
}

.theme-skills .c-body-text.x-weight-bold
{
  font-weight: 500;
}

.theme-skills .c-body-text.x-size-small
{
  font-size: 0.945rem;
}

/*.theme-skills .c-body-text.x-size-large
{
  font-size: 1.155rem
}*/

.theme-skills .c-body-text.x-padding-top-100
{
  padding-top: 1rem;
}

.theme-skills .c-body-text.x-padding-top-200
{
  padding-top: 2rem;
}

/* ----------------------------------------------------------------- Text bar */

/*.theme-skills .c-text-bar.x-padding-top-100
{
  padding-top: 1rem;
}*/
